@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    width: 100%;
    height: 100vh;
    min-width: 100%;
    max-width: 100%;
    color: #333;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 5vh;
    background-color: #f5f7fa;
    display: flex;
    color: #6a6f67;
    padding: 0px 150px 0px 100px;
    align-items: center;
}

.container img{
    width: 10%;
    height: 2vh;
    margin: 0 15px;
}

.container ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav{
    margin-left: auto;
    margin-right: 10%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
}

.cabecalho img{
    width: 60%;
    height: 8vh;
}

.cabecalho-menu{
    display: flex;
    gap: 38px;
    justify-content: space-between;
    font-weight: bold;
}

.cabecalho-menu-2{
    align-items: center;
    display: flex;
    color:  #009EE0;
    gap: 38px;
}

.lupa{
    width: 18%;
    height: 10vh;
}

.botao{
    color: #0097C1;
    border: 1px solid #0097C1;
    border-radius: 5px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 100%;
}


.botao2{
    background: #0097C1;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    padding-right: 46px;
    padding-left: 46px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 100%;
}

.banner{
    display: flex;
    width: 100%;
    height: 60vh;
    margin-left: 8%;
}

.coluna{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content:center ;
    margin-top: 8%;
}

.coluna a{
    text-decoration: none;
    color: black;
    font-size: 240%;
    font-weight: 400;
}

.coluna img{
    width: 100%;
    height: 30vh;
}

.coluna-info{
    background-color: #c6c7c65e;
    width: 22%;
    height: 50vh;
    border: 1px solid #c6c7c671;
}

.coluna-info2{
    background-color: #c6c7c65e;
    width: 22%;
    height: 50vh;
    border: 1px solid #c6c7c671;
}

.coluna-info3{
    background-color: #c6c7c65e;
    width: 22%;
    height: 50vh;
    border: 1px solid #c6c7c671;
}

.frases{
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.contribuir{
    margin-top: 120px;
    display: flex;
    text-align: center;
    align-items: center;
}

.block{
    display: block;
    margin-left: 100px;
    background: #f5f7fa;
    width: 500px;
    height: 320px;
    border-radius: 20px;
}

.contribuir-botao{
    font-size: 150%;
    color: white;
    background: #009ee0;
    border: 5px solid #009EE0;
    border-radius: 10%;
    margin-top: 5%;
    padding: 3%;
}

.contribuir img{
    width: 100%;
    height: 60vh;
}

.contribuir-titulo{
    font-size: 150%;
    color: #009ee0;
}

.contribuir-texto{
    color: #606a6f;
    font-size: 18px;
}

.trabalho{
    margin-top: 5%;
    text-align: center;
    align-items: center;
}
.trabalho-titulo{
    font-size: 220%;
}

.trabalho-texto{
    font-size: 120%;
}

.coluna02{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.coluna02 img{
    margin-top: 10%;
    width: 100%;
    height: 18vh;
}

.coluna02-info{
    width: 18%;
    height: 52vh;
    background: #606a6f;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

.coluna02-info2{
    width: 18%;
    height: 52vh;
    background: #606a6f;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

.coluna02-info3{
    width: 18%;
    height: 52vh;
    background: #606a6f;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

.coluna02-titulo{
    color: #009EE0;
}

.coluna02-texto{
    color: white;
}

.rodape{
    background-color: #009EE0;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 4%;
}

.rodape-texto{
    margin-top: 5%;
    color: white;
}

.rodape-botao{
    background-color: white;
    color: #009ee0;
    padding: 5%;
    border: white;
    border-radius: 6%;
    font-size: 90%;
}

.rodape-texto2{
    margin-top: 5%;
    color: white;
}

.rodape ul li{
    text-align: center;
    margin: 0% 0% 8%;
}

/* index2 */

.conheca-titulo{
    font-size: 200%;
    color: #0097C1;
}

.conheca-texto{
    font-size: 110%;
}

.video iframe{
    width: 50%;
    height: 58vh;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
}