body{
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}

.container{
    width: 1912px;
    height: 40px;
    background-color: #f5f7fa;
    display: flex;
    color: #6a6f67;
    padding: 0px 0px 0px 25px;
    align-items: center;
}

.container img{
    width: 12px;
    height: 13px;
    margin: 0 15px;
}

.container ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav{
    margin-left: auto;
    margin-right: 10%;
}

.contribuir{
    background: url(/imagens/imgcontribuir.jpg);
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.rodape{
    background-color: #009EE0;
    width: 100%;
    height: 50vh;
}